<div class="wrapper" [@showHide]="showState">
  <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form__container text-align--center">
      <div class="form__heading">
        <h3>Sign In</h3>
        <span>Join the community of Social Page!</span>
      </div>
      <div class="error-container" *ngIf="errorMessage">
        <span>{{ errorMessage }}</span>
      </div>
      <div class="wrapper">
        <mat-form-field class="form__input">
          <input matInput
                 placeholder="Email"
                 [(ngModel)]="user.email"
                 type="email"
                 name="email"
                 required>
        </mat-form-field>
        <mat-form-field class="form__input">
          <input matInput
                 placeholder="Password"
                 [(ngModel)]="user.password"
                 type="password"
                 name="password"
                 required>
        </mat-form-field>
        <div class="form__checkbox-container text-align--left">
          <mat-checkbox [(ngModel)]="rememberUser" name="rememberUser" color="primary">Remember me</mat-checkbox>
          <a mat-button color="accent" routerLink="/">Forgot password?</a>
        </div>
        <button class="full-width"
                type="submit"
                [disabled]="!loginForm.form.valid || submited"
                mat-raised-button
                color="primary">Sign in</button>
        <div class="wrapper">
          <button mat-button color="primary" type="button" (click)="toggle()">Not a member? Sign Up</button>
        </div>
      </div>
    </div>
  </form>
</div>
